* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

header {
    background: rgb(51, 51, 51);
    width: 100%;
    height: 40px;
    li {
        float: left;
        display: block;
        height: 36px;
        line-height: 36px;
        color: rgb(151, 151, 151);
        padding: 0 10px;
        a {
            color: rgb(151, 151, 151);
        }
    }
    .header-left {
        position: absolute;
        left: 0;
        top: 0;
    }
    .header-right {
        position: absolute;
        right: 0;
        top: 0;

    }

}

header > div,
section > div {
    display: block;
    width: 1230px;
    margin: 0 auto;
    min-height: 400px;
    position: relative;
}

section:nth-of-type(2n-1) {
    background: white;
}

section:nth-of-type(2n) {
    background: rgb(245, 245, 245);
}



#top {
    display: block;
    height: 100px;
    div,
    li {
        float: left;
    }
    .logo {
        width: 55px;
        height: 55px;
        margin: 22px 0;
        background: url(https://i.loli.net/2018/05/14/5af983d4699e7.png) no-repeat 0px 0px;
        a {
            opacity: 0;
        }
    }
    ul {
        list-style: none;
        margin-left: 234px;
        li {
            height: 14px;
            line-height: 14px;
            padding: 43px 8px;
            a {
                color: #333;
                font-family: Arial;
                font-size: 16px;
            }

        }
    }
    .input {
        display: block;
        border: #ccc 1px solid;
        float: right;
        width: 300px;
        height: 52px;
        margin: 25px 0;
        position: relative;
        input {
            position: absolute;
            left: 0;
            top: 0;
            outline: none;
            width: 250px;
            height: 50px;
            border: none;
            font-size: 14px;
            line-height: 50px;
            z-index: 1;
        }
        span {
            width: 50px;
            height: 50px;
            display: block;
            z-index: 2;
            position: absolute;
            right: 0;
            text-align: center;
            font-size: 20px;
            line-height: 50px;
            border-left: 1px solid #ccc;
        }
        ul {
            position: absolute;
            right: 50px;
            z-index: 10;
            margin-left: 0;
            li {
                float: right;
                box-sizing: content-box;
                height: 15px;
                padding: 2px 0px;
                margin: 17px 10px;
                background: #ddd;
                white-space: nowrap;
                z-index: 100;
                a {
                    display: inline-block;
                    padding: 2px 4px;
                    font-size: 12px;
                    color: #aaa;
                    overflow: auto;
                }

            }
        }
    }

}

#left {
    width: 234px;
    height: 460px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 2;
    .left_list {
        > a {
            display: block;
            height: 42px;
            line-height: 44px;
            font-size: 15px;
            width: 234px;
            padding: 0 0 0 30px;
            color: white;
            > span {
                float: right;
                margin-right: 25px;
                margin-top: 15px;
            }
        }
        .children {
            display: none;
            width: 754px;
            position: absolute;
            background: white;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 20px 0px #aaa;
            left: 234px;
            top: 0px;
            .children_list {
                list-style: none;
                float: left;
            }
            .children_list_col {
                a {
                    display: block;
                    width: 248px;
                    height: 76px;
                    padding: 18px 0px 18px 25px;
                    span {
                        display: inline-block;
                        position: absolute;
                        width: 188px;
                        color: black;
                        font-size: 14px;
                        margin-left: 20px;
                        height: 40px;
                        line-height: 40px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                a:hover span {
                    color: #ff6700;
                }

            }
        }
    }
    .left_list:hover .children {
        display: block;
    }
    .left_list:hover {
        > a {
            background: #ff6700;
        }
    }
}

#right {
    width: 1226px;
    height: 460px;
    float: left;
    position: relative;
    z-index: 0;
    > span {
        width: 42px;
        height: 70px;
        font-size: 40px;
        text-align: center;
        line-height: 70px;
        color: rgba(255, 255, 255, 0.5);

        position: absolute;
        z-index: 3;
        top: 50%;
        margin-top: -35px;
        i {
            display: inline-block;
            position: absolute;
            width: 60%;
            top: 50%;
            right: 50%;
            margin-top: -50%;
            margin-right: -15px;
            font-size: 40px;
        }
    }
    > span.left {
        left: 234px;
        border-radius: 0 5px 5px 0;
    }
    > span.right {
        right: 0px;
        border-radius: 5px 0 0 5px;
    }
    > span:hover {
        background: rgba(0, 0, 0, 0.4);
        color: white;
    }
    .focus_img {
        list-style: none;
        li {
            position: absolute;
            left: 0;
            top: 0;
            img {
                width: 1226px;
                height: 460px;
            }
        }
    }

}

#bottom {
    margin: 15px 0;
    float: left;
    div {
        height: 170px;
        width: 234px;
        background: rgb(95, 87, 70);
        float: left;
    }
    ul {
        list-style: none;
        float: left;
        li {
            float: left;
            width: 317px;
            height: 170;
            background: pink;
            margin-left: 15px;
        }
    }
}

.card {
    width: 234px;
    height: 300px;
    background: #888;
    float: left;
}

.card:hover {
    box-shadow: 0 12px 24px #ccc;
}

.product {
    div {
        padding: 20px 0;
    }
    span {
        float: left;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }
    .clearfix aside {
        float: left;
    }
    ul {
        list-style: none;
    }
    ul.top_ul {
        display: block;
        float: right;
        height: 60px;
        .tab_active {
            color: #ff6700;
            border-bottom: 2px solid #ff6700;
        }
        li {
            display: block;
            float: left;
            height: 30px;
            line-height: 30px;
            margin: 15px 15px;
            font-size: 16px;
        }
    }
    ul.left_ul {
        display: block;
        width: 233px;
        float: left;
        li {
            margin: 0 0 15px 0;
        }
    }
    ul.right_ul {
        display: block;
        width: 996px;
        float: left;
        li {
            margin: 0 0 15px 15px;
        }
        li:nth-last-of-type(2),
        li:nth-last-of-type(1) {
            height: 142px;
        }
    }
}
